.vscode/
package-lock.json
yarn.lock
yarn.error
# Локальні файли конфігурації або файли налаштувань
.env
.env.local
.env.*.local
# файли компіляції, файли завантаження, файли журналів 
node_modules/
/build
/dist
/logs
# Тимчасові файли і каталоги, які можуть генеруватися в процесі розробки.
.idea/
.DS_Store
Thumbs.db
# Конфіденційні файли, такі як ключі API або файли з налаштуваннями, які не повинні бути включені до репозиторію.
secrets.json
config.ini
